<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    ul.inl {
    margin: 0; /* Обнуляем значение отступов */
    padding: 4px; /* Значение полей */
    }
    ul.inl form {
    display: inline; /* Отображать как строчный элемент */
    }
    </style>

    <h1>Crypto-Trade</h1>
    <form action="/home" method="get">
    <input type="submit" name="history" value="Go to home page">
    </form>
    <h2>Your login {{ login }}</h2>
    <h2>Your money {{ money }}</h2>

    <form action="/add" method="post">
        <div>
            <input type="text" name="add" placeholder="Enter crypto name...">
            <button type="submit">Add</button>
        </div>
    </form>
    <br>

    {% for element in values %}
                <form action="/buy/{{ element.name }}" method="post">
                    <span>{{ element.name }}, price = {{ element.price }}</span>
                    <button type="submit">Buy</button>
                </form>
    {% endfor %}

</body>
</html>